*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;

  --text-color: #213547;
  --bg-color: #ffffff;
  --active: #4178e7;
  --success-bg: #22c55e;
  --error-bg: #dc2626;
}

:root.dark {
  --text-color: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;
  --active: #374151;
  --success-bg: #15803d;
  --error-bg: #991b1b;
}

body {
  margin: 0;
  padding-inline: 1rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s,
    color 0.3s;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link {
  color: var(--text-color);
  text-decoration: none;
  transition: 0.7s;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid var(--bg-color);
}

.link:hover {
  background-color: var(--active);
}
